In [1]:
import pandas as pd
df = pd.read_excel("data_-_new_crm_-2026_DEDUPLICATED_v2.xlsx")
df

,first_name,last_name,phone,email,dob,Address,Address2,county,city,Postcode
0,Leah,Wilson,447394159366,leahwilson1892@gmail.com,10/02/1980,45 Felton Avenue,NaN,NaN,South Shields,NE34 6RY
1,Morad,Curry,447791311080,moragcurry65@hotmail.com,27/11/1965,2,Heather Drive,NaN,Eglinton,BT47 3QE
2,Joanne,Ritchie,447722901533,joanne.ritchie71@gmail.com,09/03/1971,10 Calf Close Drive,NaN,NaN,"Jarrow, Tyne And Wear",NE32 4SW
3,Trudy,Gibson,447599227025,trudy.gibson@hotmail.co.uk,14/12/1972,37 Vicarage,NaN,NaN,Wingate,TS28 5BP
4,Hayley,Tinker,447801413722,hayley19803@outlook.com,17/03/1980,29 Range Road,NaN,NaN,Grantham,NG31 9LA
...,...,...,...,...,...,...,...,...,...,...
92165,Mariana,Gallagher,447970512040,gallagher_mariana@hotmail.com,01/07/1955,26 Brenda Road,NaN,NaN,London,SW17 7DB
92166,Ursula,Searle,447448878735,ursulasearle1@gmail.com,01/09/1960,93 Granary Way,NaN,NaN,Horsham,RH12 1LA
92167,Muhammad,Afzal,447472049430,ahn339@yahoo.com,NaN,NaN,NaN,NaN,NaN,NaN
92168,Haron,Youef,447468333678,niwar13@outlool.com,NaN,NaN,NaN,NaN,NaN,NaN
92169,Jack,Gosling,7702017700,jack.gosling93@hotmail.com,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
df["street_address"] = df["Address"].astype(str) + " , " + df["Address2"].astype(str)

df.drop(columns=["Address", "Address2"], inplace=True)
df

,first_name,last_name,phone,email,dob,county,city,Postcode,street_address
0,Leah,Wilson,447394159366,leahwilson1892@gmail.com,10/02/1980,NaN,South Shields,NE34 6RY,"45 Felton Avenue , nan"
1,Morad,Curry,447791311080,moragcurry65@hotmail.com,27/11/1965,NaN,Eglinton,BT47 3QE,"2 , Heather Drive"
2,Joanne,Ritchie,447722901533,joanne.ritchie71@gmail.com,09/03/1971,NaN,"Jarrow, Tyne And Wear",NE32 4SW,"10 Calf Close Drive , nan"
3,Trudy,Gibson,447599227025,trudy.gibson@hotmail.co.uk,14/12/1972,NaN,Wingate,TS28 5BP,"37 Vicarage , nan"
4,Hayley,Tinker,447801413722,hayley19803@outlook.com,17/03/1980,NaN,Grantham,NG31 9LA,"29 Range Road , nan"
...,...,...,...,...,...,...,...,...,...
92165,Mariana,Gallagher,447970512040,gallagher_mariana@hotmail.com,01/07/1955,NaN,London,SW17 7DB,"26 Brenda Road , nan"
92166,Ursula,Searle,447448878735,ursulasearle1@gmail.com,01/09/1960,NaN,Horsham,RH12 1LA,"93 Granary Way , nan"
92167,Muhammad,Afzal,447472049430,ahn339@yahoo.com,NaN,NaN,NaN,NaN,"nan , nan"
92168,Haron,Youef,447468333678,niwar13@outlool.com,NaN,NaN,NaN,NaN,"nan , nan"
92169,Jack,Gosling,7702017700,jack.gosling93@hotmail.com,NaN,NaN,NaN,NaN,"nan , nan"

In [3]:
df.to_excel("all_contacts.xlsx")